<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Ruby, Python & More</h1>
    <p class="lead blog-description">Ruby, Python and other tech related topics.</p>
    <%= link_to 'Write A New Blog', new_blog_path, class: 'text-success' if logged_in?(:site_admin) %>
  </div>
</div>
