
<h1 class="cover-heading text-center">About Me</h1>
<hr />
<p class="lead text-center"><em>All too often developers rarely communicate to clients throughout the development stage, resulting in a final product that fails to reach the goal sought by the customer and end user.</em></p>
<p class="lead text-center">For this reason I decided to utilize a few different development patterns that utilize highly focused communication and transparent design patterns. When I take on a project not only do I work to craft the application according to the client's specifications, I give daily updates to ensure that the project is aligning properly with the client's goals. The end result is the right product, delivered on time, and on budget. </p>

