<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class=col-md-4>

        <h3>Phone</h3>

        <p><%= number_to_phone "3023875490" %></p>

        <h3>Email</h3>
        <p><a href="mailto:sgoyette@kerberosfoundation.com?subject=PortfolioContact" "email me">Email me</a></p>
      </div>

      <div class="col-md-6">
        <%= render 'contacts/new' %>
      </div>
    </div>
  </div>
</div>
